{% extends 'base.html' %}
{% block title %}log in
{% endblock title %}
{% block content %}
<h2>
login
</h2>
<form method="post">
 {% csrf_token %} 
 {{ form.as_p }} 
   <button class="btn btn-success ml-2" type="submit">login</button>
  <a href='{% url 'password_reset' %}'>forget password </a>
</form>



{% endblock content %}