{% extends 'base.html' %}
{% block title %}
forget your password
{% endblock title %}
{% block content %}
<h1>forget you password</h1>
<p>enter your mail             </p>
<form method="post">
{% csrf_token %} 
{{ form.as_p }}
<input type="submit" value="send me instructions" class="btn btn-success ml-2">
</form>




{% endblock content %}