{% extends 'base.html' %}
{% block title %}
enter new password
{% endblock title %}
{% block content %}
<h1>set anew password</h1>
<form method="post">
{% csrf_token %} 
{{ form.as_p }}
<input type="submit" value="change my password" class="btn btn-success ml-2">

</form>


{% endblock content %}