{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="jumborton">
<h1 class="dispaly-4">NEWSPAPER app</h1>
<p class ="lead" >A NEWSPAPER website built with django</P>
<p class="lead">
<a class="btn btn-success ml-2"href="{% url 'article_list' %}"role="button">
view all articles </a>
</p>
</div>












{% if user.is_authenticated %}
hi {{user.username}}
<p><a href={% url 'logout' %}>logout</a></p>
{% else %}
<p>you are not logged in</p>
<a href={% url 'login' %}>login</a>
<br>
<a href={% url 'signup' %}>signup</a>





{% endif %}



{% endblock content %}